* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
}

.coloringArea {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
}



body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

.colors {
  width: 600px;
  height: 100px;
}

.colorSwatch,
.colorSwatchWhite {
  width: 50px;
  height: 30px;
  stroke: black;
  fill: white;


}

.pickedColor {
  height: 90px;
  width: 100px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;

  margin-right: 2vw;
}

.colorsContainer {
  margin-top: 4vw;
  display: flex;
}

.bookCover {
  position: absolute;
  height: 80vh;
  width: 50vw;
  background-color: grey;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;



}

.bookCover[data-clicked="true"] {
  transform-origin: left bottom;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 10000px;
  -moz-perspective: 10000px;
  -webkit-perspective: 10000px;
  -moz-perspective: 10000px;
  perspective-origin: left bottom;
  -webkit-perspective-origin: left bottom;
  -moz-perspective-origin: left bottom;
  -ms-perspective-origin: left bottom;
  animation: flipPage 2s linear forwards 1;

}

@keyframes flipPage {
  100% {
    transform: rotateY(180deg);
  }
}



path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }

  to {
    stroke-dashoffset: 0;
  }
}